@{
    ViewBag.Title = "Index";
}

@model IEnumerable<string>


<h2>Index</h2>



<ul>
    
        @foreach(var thing in Model) {
            
           <li>
               @thing

           </li>
            
        }

    
</ul>
